.home-page {

.filter-by-age {
  color: white;

  .title {
    align-self: center;
  }

  .age-slider {
    width: 75%;
    
  }
}

.users-list {
  padding: 20px 20px;
  background-color:#3c3650;

  .image-col {
    text-align:center;

    .image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
  .text-col {
    margin: auto 0px;
  }
  .actions-col {
    text-align: center;
    margin: auto 0px;

    .action {
      line-height: 1;
    }
    .icon {
      font-size: 20px;
    }
  }
}
}